.purple-border {
  border: 3px solid #D2D2D2;
}
.purple-bg {
  background: #D2D2D2;
}
.purple-text {
  color: #D2D2D2;
}
.pink-border {
  border: 3px solid #D2D2D2;
}
.pink-bg {
  background: #D2D2D2;
}
.pink-text {
  color: #D2D2D2;
}
.turquesa-border {
  border: 3px solid #D2D2D2;
}
.turquesa-bg {
  background: #D2D2D2;
}
.turquesa-text {
  color: #D2D2D2;
}
.green-border {
  border: 3px solid #00a19b;
}
.green-bg {
  background: #00a19b;
}
.green-text {
  color: #00a19b;
}
.ticket-flex {
  justify-content: space-between;
}
.ticket-container {
  margin-top: 20px;
  width: 280px;
  height: 320px;
}
.ticket-title {
  padding: 15px 0;
}
.ticket-title h4 {
  color: #fff;
  text-align: center;
}
.ticket-title h5 {
  color: #fff;
  text-align: center;
  font-weight: 300;
  padding: 0;
}
.ticket-content {
  text-align: center;
  padding: 10px 10px;
}
.ticket-content h4 {
  text-align: center;
  font-size: 4rem;
  margin-bottom:10px;
}
.ticket-content p {
  text-align: center;
  padding: 0;
  color: #D2D2D2;
}
.ticket-content p.addinfo {
  margin-top: 50px;
  font-size: 1.4rem;
  line-height: 1.6rem;
}
.buy-tickets {
  margin-top: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.buy-tickets button {
  background: none;
  border: 2px solid #CB3365;
  color: #CB3365;
  padding: 20px;
  font-size: 2.8rem;
  font-weight: 700;
  transition: 0.3s;
}
.buy-tickets button:hover {
  background: #CB3365;
  color: #fff;
  transition: 0.6s;
  cursor: pointer;
}
.buy-tickets img {
  width: 80px;
}
