@media screen and (max-width: 400px) {
  .page-content {
    padding: 0px;
  }
  h2 {
    font-size: 10vw;
  }
}

@media screen and (max-width: 767px) {
  header {
    height: 100px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 98;
  }
  .page-title {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 20px;
    padding-top: 0px;
  }
  h2 {
    font-size: 7vw;
  }
  .page-container {
    padding-top:100px;
  }
  /*4SCD PAGE*/
  .scd-text-column-left {
    padding: 0;
    width: 100%;
    order: 3;
  }
  .scd-text-column-left p, .scd-text-column-left h4{
    text-align: left;
  }
  .scd-text-column-right {
    width: 100%;
    padding: 0;
    order: 1;
  }
  .scd-text-column-right p, .scd-text-column-right h4{
    text-align: left;
  }
  .displayDesktop {
    display: none;
  }
  .owl-home {
    width: 100%;
  }
  /*LOCATION*/
  .location-container {
    flex-wrap: wrap;
  }
  .location-image-uruguay, .location-image-cicus {
    width: 100%;
    order: 2;
    margin: 10px 0px;
    height: 300px;
  }
  .location-text {
    width: 100%;
    order: 1;
    padding: 15px 15px;
  }
}
@media screen and (max-width: 500px) {
  .scd-text-column-left, .scd-text-column-right {
    padding: 0 15px;
  }
}
@media screen and (min-width: 768px) {
  .displayResp {
    display: none;
  }
}
@media screen and (min-width: 900px) {

}
