* {
  font-family: "Source Sans Pro", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  /*background: url("../images/background-circuit.png") no-repeat center;
  background-size: cover;*/
}
p {
  font-weight: 300;
  font-size: 1.8rem;
  color: #fff;
  line-height: 2.8rem;
  text-align: center;
}
h2 {
  font-weight: 700;
  letter-spacing: 0.8rem;
  color: #fff;
  font-size: 4.3rem;
}
h1 {
  font-weight: 700;
  font-size: 4rem;
  color: #fff;
  line-height: 2rem;
  text-align: center;
  letter-spacing: 0.8rem;
  padding-bottom: 50px;
}
h2 {
  font-weight: 700;
  letter-spacing: 0.8rem;
  color: #fff;
  font-size: 4.5rem;
}
h3 {
  font-weight: 700;
  font-size: 4rem;
  color: #fff;
  line-height: 2rem;
  text-align: center;
  letter-spacing: 0.8rem;
  padding-bottom: 40px;
}
nav {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
  text-align: center;
  max-width: 2000px;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.nav-container {
  width:100%;
  max-width: 2000px;
  position: absolute;
  top:0;
  left: 0;
  z-index: 99;

}
nav.nav-pages {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
}
.navbar-scroll {
  position: fixed;
  background: #CD3161;
  box-shadow: 0 2px 6px rgba(0,0,0,0.7);
}
a {
  text-decoration: none;
  font-weight: 300;
  text-align: center;
  color: #fff;
}
a:visited {
  color: #fff;
}
nav ul {
  display: inline-block;
  list-style-type: none;
}
li {
  background: none;
  display: inline-block;
  transition: 0.25s;
  position: relative;
}
li:hover {
  /*background: rgba(255,255,255,0.15);
  transition: 0.25s;*/

}
li a {
  display: block;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
  padding: 15px;
}
.boxlink {
  position:absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-bottom: 2px solid #fff;
  opacity: 0;
  transition: 0.4s;
}
.boxlink:hover{
  opacity: 0.8;
  cursor: pointer;
  transition: 0.4s;
}

button {
  background: none;
  border: 2px solid #fff;
}
button:focus {
  outline: none;
}
.rrss {
  position: fixed;
  right: 0;
  top: 80px;
  z-index: 99;
}
.rrss img{
  display: block;
  width: 55px;
  height: auto;
  margin-right: 30px;
  margin-bottom: 10px;
  transition: 1s;
}
.rrss img:hover {
  transform: rotate(360deg);
  transition: 1s;
}
/*RRSS CONTACTO*/
.rrss-contact img{
  display: inline-block;
  width: 55px;
  height: auto;
  margin-right: 15px;
  margin-bottom: 10px;
  transition: 1s;
}
.rrss-contact img:hover {
  transform: rotate(360deg);
  transition: 1s;
}
/*******************/
.section-1 {
  background: url("../images/background-1.jpg") no-repeat center;
  background-size: cover;
}
.section-2 {
  background: url("../images/background-2.jpg") no-repeat center;
  background-size: cover;
}
.section-3 {
  background: url("../images/background-3.jpg") no-repeat center;
  background-size: cover;
}
.section-4 {
  background: url("../images/background-4.jpg") no-repeat center;
  background-size: cover;
}
.full-background {
  background: url("../images/background-movil.jpg") no-repeat center;
  background-size: cover;
}
.gradient-section {
  width: 100%;
  /*height: 80%;*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.big-logo {
  /*height: 80%;*/
  text-align: center;
}
.big-logo img {
  /*height: 100%;*/
  max-width: 485px;
  vertical-align: middle;
}
.flex-horizontal-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-horizontal-between {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttons-group-1 {
  margin-top: 60px;
}

.buttons-group-1 button {
  width: 180px;
  height: 50px;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 1.6rem;
  font-weight: 300;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
.buttons-group-1 button:hover {
  background: #fff;
  color: #D13F5D;
  transition: 0.3s;
}
.event-resume {
  width: 50%;
  border: 2px solid #fff;
  padding: 35px;
}
.speakers-text {
  width: 75%;
  margin-bottom: 35px;
}
.speaker {
  width: 23%;
  align-items: flex-start;
}
a.arrow-left {
  background: url("../images/arrow.png") no-repeat center;
  background-size: cover;
  width: 85px;
  height: 85px;
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
}
.arrow-left:hover {
  background: url("../images/arrow-hover.png") no-repeat center;
  background-size: cover;
}
a.arrow-right {
  background: url("../images/arrow.png") no-repeat center;
  background-size: cover;
  width: 85px;
  height: 85px;
}
.arrow-right:hover {
  background: url("../images/arrow-hover.png") no-repeat center;
  background-size: cover;
}
.ponente-destacado {
  width: 100%;
  max-width: 400px;
  max-height: 400px;
  box-sizing: content-box;
}
.ponente-destacado img {
  width: 100%;
  height: auto;
  border: 3px solid #fff;
}
.speaker p {
  text-align: left;
  line-height: 2rem;
}
.speaker p:nth-child(2) {
  font-weight: 700;
  margin-top: 5px;
}
.buttons-group-2 {
  margin-top: 30px;
}
.buttons-group-2 button {
  width: 180px;
  height: 50px;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 1.6rem;
  font-weight: 300;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
.buttons-group-2 button:hover {
  background: #fff;
  color: #009778;
  transition: 0.3s;
}
.sponsortext {
  width: 50%;
}
a.link-in-text-white {

  font-weight: 700;
  color: #fff;
}
a.link-in-text-white:hover {
  text-decoration: underline;
}
.sponsors {
  width: 85%;
  max-width: 1400px;
  display: block;
  text-align: center;
  margin-bottom: 30px;
}
.sponsors img{
  max-width: 120px;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}



/********ESTILOS DE PAGINAS*****************/

header {
  background: #CB3365;
  height: 200px;
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
}
.speaker-close {
  position: fixed;
  top: 25px;
  left: 25px;
  width: 50px;
  height: auto;
  z-index: 995;
}
.page-title {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-top: 120px;
}
.page-container {
  width:100%;
  max-width: 2000px;
  background: #fff;
}
.page-content {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
h4 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #CD3161;
  text-transform: uppercase;
}
h5 {
  color: #FFC556;
  font-size: 2rem;
  font-weight: 400;
  /*letter-spacing: 0.8rem;*/
  padding-bottom: 15px;
  text-transform: uppercase;
}
h5.pink-lower {
  color: #CD3161;
  text-transform: none;
  font-weight: 700;
}
h5.pink-lower span {
  color: #CD3161;
  font-size: 1.6rem;
  font-weight: 400;
}
p.light-bg{
  color: #333;
  text-align: left;
  padding-bottom: 15px;
}
/****************************/

/*4SCD PAGE*/
.scd-text-column-left {
  width: 50%;
  padding-right: 20px;
}
 .scd-text-column-left p, .scd-text-column-left h4, .scd-text-column-left h5 {
  text-align: right;
}
.scd-text-column-right {
  width: 50%;
  padding-left: 20px;
}
.scd-image-single {
  width: 100%;
  text-align: center;
  padding: 0 0px 20px 0;
}
.scd-image-multi {
  width: 100%;
  padding: 0 0px 20px 0;
}
.scd-image-multi img {
  width: 50%;
  height: auto;
  vertical-align: middle;
}
.scd-image-single img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}
p.image-footer {
  font-size: 1.4rem;
  padding: 0;
}
/****************************/

/**CAROUSEL HOME*/
.owl-home {
  width: 66%;
}
.carousel-speaker {
  padding: 10px;
}
.carousel-speaker img {
  width: 100%;
}
.carousel-speaker p {
  margin-top: 6px;
  text-align: left;
  line-height: 2rem;

}
.carousel-speaker p:nth-child(2) {
  font-weight: 700;
}
/***********************************/

/*lOCATION*/
.location-container {
  width: 100%;
  display: flex;
}
.location-image-uruguay{
  width: 50%;
  background: url("/images/uruguay.jpg") no-repeat center;
  background-size: cover;
  margin: 10px 20px;
}
.location-image-cicus{
  width: 50%;
  background: url("/images/cicus.jpg") no-repeat center;
  background-size: cover;
  margin: 10px 20px;
}
.location-image img {
  width: 100%;
}
.location-text {
  width: 50%;
}
.location-text h5 span {
  text-transform: none;
}
.location-text a {
  color: #cd3161;
  font-size: 1.6rem;
}

/*CONTACT*/
@media screen and (max-width: 767px) {
  .contact-container {
    padding: 15px;
    align-items: center;
  }
}
